<h1>Stupid Coaching</h1>
<div class=container>
  <div class=card>
    <p><%= @question %></p>
    <p><i>-You</i></p>
  </div>
  <div class=card>
    <p><%= @answer %></p>
    <p><i>-Coach</i></p>
  </div>
    <p><%= link_to "Ask a new question", ask_path %><p>
</div>

